[#object[java.net.URI 0x4bc28c33 "http://example.com"] #object[java.net.URI 0x4409e975 "ftp://example.com"] #object[java.net.URI 0x5c153b9e "file:///path/to/file.txt"] #object[java.net.URI 0x2a7686a7 "http://www.詹姆斯.com/"]]